$whiteColor: #ffffff !important;
$lightPurple: #515779 !important;
$royalBlue: #0747a6;
$darkBlue: #073373;
$matalicBlue: #05357b;
$lightGrey: #f9f9f9;
$lightrtGrey: #efefef;
$lightRed: #f44336;
$lightBrown: #828181;
$mainBlue: #07234a;
$lightBlue: #0296ff;
$orangeColor: #ffc800;
