@import 'variable';

body {
  font-family: 'Comfortaa', cursive;
  //   font-size: 62.5%; //10 devided by 16 *
}
button:focus {
  outline: 0;
}

.nav-link {
  color: $whiteColor;
}

.body-content {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  padding: 20px;
  min-height: 100vh;
  h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid $lightrtGrey;
    padding-bottom: 8px;
    font-weight: 700;
    font-size: 23px;
  }
  button {
    float: right;
    border: 0;
    font-size: 14px;
    font-weight: 700;
    background: transparent;
    cursor: pointer;
  }
  .add-btn {
    color: red;
  }
}
.bg-info {
  background: $lightPurple;
}
.left-nav-bar {
  background: $royalBlue;
  position: fixed;
  width: 50px;
  height: 100%;
  color: $whiteColor;
  text-align: center;
  font-size: 25px;
  padding: 20px 0;
  border-right: 1px solid $matalicBlue;
  z-index: 2;
  .notifications {
    position: absolute;
    bottom: 5px;
    left: 0;
    .badge-number {
      background-position-x: 5px;
      position: absolute;
      padding: 0;
      font-size: 13px;
      width: 14px;
      text-align: center;
      left: 29px;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #b93030;
      color: #fff;
      font-weight: 100;
    }
  }
  a {
    color: $whiteColor;
  }
  svg {
    cursor: pointer;
  }
  span {
    padding: 5px;
    display: inline-flex;
    border-radius: 50%;
    &:hover {
      background: $darkBlue;
      display: inline-flex;
      border-radius: 50%;
      transition: all 0.3s linear;
      .name-label {
        display: block;
      }
    }
    .name-label {
      font-size: 13px;
      display: none;
      background: #000;
      color: #ffffff !important;
      position: absolute;
      left: 51px;
      padding: 1px 5px;
      border-radius: 4px;
      margin-top: 2px;
      z-index: 2;
    }
  }
}
.popup-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  background: rgba(7, 71, 162, 0.5);
  z-index: 2;
  .popup-content {
    max-width: 750px;
    min-width: 300px;
    background: $whiteColor;
    padding: 15px 25px 15px 15px;
    border-radius: 10px;
    position: relative;
    .button-wrapepr {
      width: 100%;
      float: left;
      text-align: left;
      button {
        float: left;
        background: indianred;
      }
    }
    .popup-close {
      position: absolute;
      top: 4px;
      right: 7px;
      font-size: 20px;
      cursor: pointer;
    }
  }
}
.add-recipe {
  svg {
    background: $orangeColor;
    padding: 7px;
    font-size: 29px;
    color: $whiteColor;
    border-radius: 50%;
    cursor: pointer;
  }
}

.hotelcard,
.recipecard {
  width: 100%;
  float: left;
  margin-bottom: 30px;
  box-shadow: 0px 0px 9px -3px $lightBrown;
  position: relative;
  transition: all 2s;
  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(255, 255, 255, 0.8);

    a {
      background: $royalBlue;
      padding: 10px 15px;
      color: $lightGrey;
      font-size: 13px;
      font-weight: 500;
      text-decoration: none;
    }
    .edit-record {
      font-size: 13px;
      background: $lightBlue;
      color: $whiteColor;
      z-index: 2;
      cursor: pointer;
      font-weight: 900;
      padding: 10px 15px;
      align-items: center;
      justify-content: center;
      display: flex;
    }
  }
  &:hover {
    // transform: translateY(-0.4rem);

    .overlay {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__name {
    font-size: 16px;
    font-weight: 500;
    display: block;
    background: $lightGrey;

    padding: 10px 8px 0 8px;
  }
  &__locstar {
    width: 100%;
    background: $lightGrey;
    padding: 0 8px 5px 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &-location {
      font-size: 13px;
      font-weight: 500;
      color: $darkBlue;
    }
    &-star {
      font-size: 13px;
      font-weight: 700;
      color: $lightRed;
    }
  }

  &__pic {
    width: 100%;
    height: 184px;
    overflow: hidden;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.recipecard {
  &__pic {
    height: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
  }
  &__name {
    padding: 10px 8px 0 8px;
  }
  &__serving {
    background: $lightGrey;
    padding: 0 8px 5px 8px;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    font-weight: 500;
    span {
      color: $lightRed;
      display: inline-block;
      margin-left: 4px;
      font-size: 15px;
      font-weight: 700;
    }
    i {
      font-style: normal;
    }
  }
}

.login-wrapper {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 3;
  background: $matalicBlue;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $whiteColor;
  .back-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    color: $lightGrey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    border: 1px solid $royalBlue;
    border-radius: 20px;
    padding: 6px 12px 4px 8px;
    text-decoration: none;
    transition: all 0.3s linear;
    svg {
      margin-right: 2px;
      margin-top: -3px;
    }
    &:hover {
      color: $royalBlue;
      border: 1px solid $whiteColor;
      background: $whiteColor;
    }
  }
}

.login-inner {
  width: 300px;
  margin: auto;
  h2 {
    margin-bottom: 38px;
    font-size: 59px;
  }
  button {
    width: 100%;
    background: $mainBlue;
    &:hover {
      background: $mainBlue;
    }
  }
}

.recipecard-detail {
  h3 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 15px;
    padding-bottom: 5px;
    width: 100%;
  }
  p {
    font-size: 13px;
    letter-spacing: 0.5px;
    line-height: 27px;
  }
  &__pic {
    width: 95%;
    height: 60vh;
    margin-top: 15px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: center;
    margin-bottom: 20px;
  }
  &__ingredients {
    list-style: disc;
    display: block;
    padding: 0 0 0 15px;
    font-size: 13px;
    margin-bottom: 15px;
    li {
      padding: 8px 0;
      letter-spacing: 0.5px;
    }
  }
  &__serving-cost {
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style: none;
    li {
      padding: 8px 0;
      letter-spacing: 0.5px;
      font-size: 13px;
      font-weight: 700;
      span:nth-child(2) {
        color: $lightRed;
        display: inline-block;
        margin-left: 15px;
      }
    }
  }
}

.dashboard-wrapper {
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 50px;
  padding: 20px;

  span {
    width: 50%;
    display: inline-block;
  }
}

.total-numbers {
  margin-bottom: 20px;
  span {
    display: flex;
    padding: 15px;
    text-align: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    flex-direction: column;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    i {
      font-style: normal;
      font-size: 40px;
      font-weight: 900;
    }
  }
  .recipeNumber {
    background: #f3f9d5;
  }
  .reataurnetNumber {
    background: #abd6df;
  }
  .roomsNumber {
    background: #f6ea7b;
  }
  .staffNumber {
    background: #edc2d8;
  }
}
