body {
  font-family: 'Comfortaa', cursive;
}

button:focus {
  outline: 0;
}

.nav-link {
  color: #ffffff !important;
}

.body-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 50px;
  padding: 20px;
  min-height: 100vh;
}

.body-content h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #efefef;
  padding-bottom: 8px;
  font-weight: 700;
  font-size: 23px;
}

.body-content button {
  float: right;
  border: 0;
  font-size: 14px;
  font-weight: 700;
  background: transparent;
  cursor: pointer;
}

.body-content .add-btn {
  color: red;
}

.bg-info {
  background: #515779 !important;
}

.left-nav-bar {
  background: #0747a6;
  position: fixed;
  width: 50px;
  height: 100%;
  color: #ffffff !important;
  text-align: center;
  font-size: 25px;
  padding: 20px 0;
  border-right: 1px solid #05357b;
  z-index: 2;
}

.left-nav-bar .notifications {
  position: absolute;
  bottom: 5px;
  left: 0;
}

.left-nav-bar .notifications .badge-number {
  background-position-x: 5px;
  position: absolute;
  padding: 0;
  font-size: 13px;
  width: 14px;
  text-align: center;
  left: 29px;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #b93030;
  color: #fff;
  font-weight: 100;
}

.left-nav-bar a {
  color: #ffffff !important;
}

.left-nav-bar svg {
  cursor: pointer;
}

.left-nav-bar span {
  padding: 5px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 50%;
}

.left-nav-bar span:hover {
  background: #073373;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 50%;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.left-nav-bar span:hover .name-label {
  display: block;
}

.left-nav-bar span .name-label {
  font-size: 13px;
  display: none;
  background: #000;
  color: #ffffff !important;
  position: absolute;
  left: 51px;
  padding: 1px 5px;
  border-radius: 4px;
  margin-top: 2px;
  z-index: 2;
}

.popup-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  left: 0;
  background: rgba(7, 71, 162, 0.5);
  z-index: 2;
}

.popup-overlay .popup-content {
  max-width: 750px;
  min-width: 300px;
  background: #ffffff !important;
  padding: 15px 25px 15px 15px;
  border-radius: 10px;
  position: relative;
}

.popup-overlay .popup-content .button-wrapepr {
  width: 100%;
  float: left;
  text-align: left;
}

.popup-overlay .popup-content .button-wrapepr button {
  float: left;
  background: indianred;
}

.popup-overlay .popup-content .popup-close {
  position: absolute;
  top: 4px;
  right: 7px;
  font-size: 20px;
  cursor: pointer;
}

.add-recipe svg {
  background: #ffc800;
  padding: 7px;
  font-size: 29px;
  color: #ffffff !important;
  border-radius: 50%;
  cursor: pointer;
}

.hotelcard,
.recipecard {
  width: 100%;
  float: left;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 0px 9px -3px #828181;
          box-shadow: 0px 0px 9px -3px #828181;
  position: relative;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.hotelcard .overlay,
.recipecard .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(255, 255, 255, 0.8);
}

.hotelcard .overlay a,
.recipecard .overlay a {
  background: #0747a6;
  padding: 10px 15px;
  color: #f9f9f9;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
}

.hotelcard .overlay .edit-record,
.recipecard .overlay .edit-record {
  font-size: 13px;
  background: #0296ff;
  color: #ffffff !important;
  z-index: 2;
  cursor: pointer;
  font-weight: 900;
  padding: 10px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hotelcard:hover .overlay,
.recipecard:hover .overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hotelcard__name,
.recipecard__name {
  font-size: 16px;
  font-weight: 500;
  display: block;
  background: #f9f9f9;
  padding: 10px 8px 0 8px;
}

.hotelcard__locstar,
.recipecard__locstar {
  width: 100%;
  background: #f9f9f9;
  padding: 0 8px 5px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hotelcard__locstar-location,
.recipecard__locstar-location {
  font-size: 13px;
  font-weight: 500;
  color: #073373;
}

.hotelcard__locstar-star,
.recipecard__locstar-star {
  font-size: 13px;
  font-weight: 700;
  color: #f44336;
}

.hotelcard__pic,
.recipecard__pic {
  width: 100%;
  height: 184px;
  overflow: hidden;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
}

.recipecard__pic {
  height: 120px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
}

.recipecard__name {
  padding: 10px 8px 0 8px;
}

.recipecard__serving {
  background: #f9f9f9;
  padding: 0 8px 5px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 13px;
  font-weight: 500;
}

.recipecard__serving span {
  color: #f44336;
  display: inline-block;
  margin-left: 4px;
  font-size: 15px;
  font-weight: 700;
}

.recipecard__serving i {
  font-style: normal;
}

.login-wrapper {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 3;
  background: #05357b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff !important;
}

.login-wrapper .back-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #f9f9f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  border: 1px solid #0747a6;
  border-radius: 20px;
  padding: 6px 12px 4px 8px;
  text-decoration: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.login-wrapper .back-btn svg {
  margin-right: 2px;
  margin-top: -3px;
}

.login-wrapper .back-btn:hover {
  color: #0747a6;
  border: 1px solid #ffffff !important;
  background: #ffffff !important;
}

.login-inner {
  width: 300px;
  margin: auto;
}

.login-inner h2 {
  margin-bottom: 38px;
  font-size: 59px;
}

.login-inner button {
  width: 100%;
  background: #07234a;
}

.login-inner button:hover {
  background: #07234a;
}

.recipecard-detail h3 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 15px;
  padding-bottom: 5px;
  width: 100%;
}

.recipecard-detail p {
  font-size: 13px;
  letter-spacing: 0.5px;
  line-height: 27px;
}

.recipecard-detail__pic {
  width: 95%;
  height: 60vh;
  margin-top: 15px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: center;
  margin-bottom: 20px;
}

.recipecard-detail__ingredients {
  list-style: disc;
  display: block;
  padding: 0 0 0 15px;
  font-size: 13px;
  margin-bottom: 15px;
}

.recipecard-detail__ingredients li {
  padding: 8px 0;
  letter-spacing: 0.5px;
}

.recipecard-detail__serving-cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  list-style: none;
}

.recipecard-detail__serving-cost li {
  padding: 8px 0;
  letter-spacing: 0.5px;
  font-size: 13px;
  font-weight: 700;
}

.recipecard-detail__serving-cost li span:nth-child(2) {
  color: #f44336;
  display: inline-block;
  margin-left: 15px;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 50px;
  padding: 20px;
}

.header-wrapper span {
  width: 50%;
  display: inline-block;
}

.total-numbers {
  margin-bottom: 20px;
}

.total-numbers span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  text-align: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.total-numbers span i {
  font-style: normal;
  font-size: 40px;
  font-weight: 900;
}

.total-numbers .recipeNumber {
  background: #f3f9d5;
}

.total-numbers .reataurnetNumber {
  background: #abd6df;
}

.total-numbers .roomsNumber {
  background: #f6ea7b;
}

.total-numbers .staffNumber {
  background: #edc2d8;
}
/*# sourceMappingURL=style.css.map */