.page-break-style {
  margin-bottom: 30px;
  width: 100%;
  float: left;
}

.sub-heading-message-support {
  font-weight: 400;
  padding: 0 32px;
  line-height: 30px;
}

.sub-heading-message {
  font-weight: 400;
  padding: 0 28px;
  line-height: 30px;
}

.undeline-title {
  text-decoration: underline;
}

h1 {
  padding-left: 0 !important;
}

.description-title {
  padding-right: 30px !important;
  padding-left: 50px !important;
}

.skill-heading {
  float: left;
  width: 100%;
}

ol li ul li {
  text-indent: -1em !important;
}

ol li ul li::before {
  content: • !important;
}

ol li {
  text-indent: -0.5em;
}

ol li::before {
  content: '' !important;
}

.report-list-wrapper {
  padding-right: 30px !important;
  padding-left: 30px !important;
}

#demandsSuggestions,
#controlSuggestions,
#supportSuggestions,
#roleSuggestions,
#relationshipSuggestions,
#changeSuggestions ul li {
  margin-top: 25px;
}

.relation-score {
  margin: 20px auto 0 auto !important;
}

.change-score {
  margin: 40px auto 0 auto !important;
}

.report-score {
  margin: 20px auto 0 auto !important;
  width: 100% !important;
  padding: 24px 0 !important;
}

#supportTitle {
  page-break-after: always;
}

.demandsData {
  float: left;
  width: 100%;
  background-color: #ffffff;
  -webkit-print-color-adjust: exact;
}

.control-text {
  font-weight: 400;
}

ol {
  margin: 0 0 0 0 !important;
}

ol li,
ol li p {
  margin-top: 0 !important;
}

.next-steps-print ol li {
  text-indent: 0 !important;
}

.next-steps-print ol li .secondaryList ul li {
  margin-left: 0 !important;
  padding-left: 20px;
  text-indent: -1.2em !important;
}

.next-steps-print .secondaryList ul li::before {
  content: '•' !important;
  color: #ffcf05 !important;
  font-size: 15px !important;
  margin-right: 10px !important;
}

.next-steps-print ul li {
  padding-left: 0;
  text-indent: -1.2em !important;
}

#nextStep li {
  margin-left: 0 !important;
}

.comp-strength li {
  margin-left: 0 !important;
}

li {
  margin-left: 20px !important;
  padding-left: 20px;
  text-indent: -1.2em;
}

.all-score li {
  padding-left: 0 !important;
  text-indent: 0 !important;
  margin-left: 0 !important;
}

ol {
  padding: 0 130px;
  margin: 0 0 30px 0;
  line-height: 1.6;
}

ol li {
  color: #363636;
  font-size: 16px;
  padding: 0;
  text-align: left;
  margin: 0;
  width: 100%;
  font-weight: 400;
  line-height: 26px;
  margin-top: 11px;
}

.comp-strength .sub-heading {
  font-weight: 900 !important;
}

.secondaryList ul li {
  display: block;
  margin: 0;
  float: left;
  padding: 0;
}

.secondaryList ul {
  width: 100%;
  float: left;
  padding-left: 0;
}

li p {
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  width: 100%;
  text-indent: 0;
  line-height: 26px;
  margin-top: 14px;
}

.further-suggestion {
  color: #53b5e0 !important;
  display: none;
}

.tableContainer li {
  color: #007a7a;
}

.tableContainer ul li::before {
  content: none;
  font-size: 0;
  margin-right: 0;
}

h1 {
  width: 100%;
  text-align: center;
}

h3 {
  padding: 0 110px;
  font-weight: 900;
}

.demand-data {
  float: left;
  width: 100%;
  background: #ffffff;
  color: #363636;
  margin: 40px 0;
  padding-top: 50px;
  padding-bottom: 50px;
}

#demandsSuggestions h1 {
  text-align: center;
  width: 100%;
}

li::before {
  content: '•';
  color: #ffcf05;
  font-size: 15px;
  margin-right: 10px;
}

#demandsSuggestions {
  padding: 0;
  margin: 0 0 30px 34px;
  list-style: disc !important;
}

#demandsSuggestions li {
  color: #363636;
  font-size: 16px;
}

ul.guide-lines {
  padding: 0;
  margin: 0 0 30px 34px;
  list-style: none;
}

.guide-lines li {
  color: #363636;
  font-size: 16px;
}

p {
  color: #363636;
  font-size: 16px;
  padding: 0 5px;
  text-align: left;
  margin: 0;
  width: 100%;
  font-weight: 900;
  line-height: 34px;
}

.underline-title {
  color: #363636;
  font-size: 16px;
  padding: 0 110px;
  text-align: left;
  margin: 0;
  width: 100%;
  font-weight: 900;
  line-height: 34px;
}

.sub-heading {
  font-weight: 900;
  line-height: 34px;
  text-align: left;
  padding: 0 110px;
  color: #363636;
}

ul {
  padding: 0 110px;
  margin: 0 0 30px 0;
  list-style: none;
  word-break: break-word;
}

li {
  color: #363636;
  font-size: 16px;
  padding: 0;
  text-align: left;
  margin: 0;
  width: 100%;
  font-weight: 400;
  line-height: 26px;
  margin-top: 11px;
}

.survey-report-title-main span {
  display: block;
}

.survey-report-title {
  font-size: 48px;
  width: 100%;
  line-height: 58px;
  -webkit-letter-spacing: 1.5px;
  -moz-letter-spacing: 1.5px;
  -ms-letter-spacing: 1.5px;
  letter-spacing: 1.5px;
  font-weight: 900;
  color: #363636;
  text-align: center;
  margin: auto;
}

.titleMainContainer {
  width: 100%;
  width: 569px;
  margin: 30px auto;
  color: #363636;
  text-align: center;
  font-weight: 900;
  -webkit-letter-spacing: 0.9px;
  -moz-letter-spacing: 0.9px;
  -ms-letter-spacing: 0.9px;
  letter-spacing: 0.9px;
  word-spacing: 2px;
  font-size: 14px;
}

.titleSubContainer {
  width: 100%;
  width: 569px;
  margin: 30px auto;
  color: #000;
  text-align: center;
  font-weight: 900;
  -webkit-letter-spacing: 0.9px;
  -moz-letter-spacing: 0.9px;
  -ms-letter-spacing: 0.9px;
  letter-spacing: 0.9px;
  word-spacing: 2px;
  font-size: 14px;
}

.titleSubContainer .span1 {
  color: #ff5939;
}

.titleSubContainer .span2 {
  color: #53b5e0;
}

.introText a {
  color: #53b5e0;
  font: 400 16px Avenir;
  letter-spacing: 1px;
  word-spacing: 2px;
  margin: 0 3px 0 3px !important;
  text-align: left;
  margin: 0;
  background: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
  text-decoration: none;
}

.introText {
  font-size: 14px;
  line-height: 28px;
  color: #363636;
  font-weight: 400;
  width: 90%;
  margin: auto;
}

.bodyContainer {
  padding-right: 0;
  padding-left: 0;
  background: #fff;
  float: left;
  width: 1300px;
  color: #363636;
  padding-bottom: 80px;
  padding-top: 60px;
  box-shadow: 3px 0px 9px 0px #f3eeee;
}

.report-title {
  color: #363636;
  font-size: 36px;
  padding: 0 0 27px 0;
  text-align: left !important;
  margin: 0;
  width: 100%;
  font-weight: 900;
}

.bodyContainerp {
  color: #363636;
  font-size: 16px;
  padding: 0 110px;
  text-align: left;
  margin: 0;
  width: 100%;
  font-weight: 900;
  line-height: 34px;
}

.tableContainer {
  color: #007a7a;
  border-top: 2px solid #007a7a;
  border-bottom: 2px solid #007a7a;
  padding: 24px 60px;
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.tableContainer ul {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

.tableContainer ul li {
  color: #007a7a;
  font-size: 25px;
  width: 20%;
  font-weight: 900;
  float: left;
  text-align: center;
}

ol li {
  color: #363636;
  font-size: 16px;
  padding: 0;
  text-align: left;
  margin: 0;
  width: 100%;
  font-weight: 400;
  line-height: 26px;
  margin-top: 11px;
}

.tableContainer ul li span {
  display: block;
  width: 71px;
  font-size: 12px;
  font-weight: 900;
  margin: auto;
  line-height: 19px;
  margin-top: 10px;
}
