ul li::before {
	color: #FFCF05;
	font-size: 15px;
	margin-right: 10px;
}

ol li ul li::before {
	content: '•' !important;
	margin-right: 10px !important;
}

ol li .secondaryList li {
	text-indent: -1.2em !important;
	margin-left: 20px;
}

.sub-heading {
	font-weight: 900;
}

ul li {
	font-size: 16px;
	padding: 0;
	text-align: left;
	margin: 0;
	width: 100%;
	font-weight: 400;
	line-height: 26px;
	margin-top: 11px;
	padding-left: 5px;
	text-indent: inherit;
}

.next-steps-print ul li::before {
	color: #FFCF05;
	font-size: 15px;
	margin-right: 10px;
}

.next-nsteps-print ul li {
	padding-left: 20px;
	text-indent: -1.2rem;
	border: 1px solid red;
}

.control-text {
	font-weight: 400 !important;
}

.skill-heading {
	float: left;
	width: 100%;
}

.next-steps-print .secondaryList ul li::before {
	content: '•' !important;
	color: #FFCF05 !important;
	font-size: 15px !important;
	margin-right: 10px !important;
}

.next-steps-print ul li {
	padding-left: 0;
	text-indent: 0 !important;
}

#nextStep li {
	margin-left: 0 !important;
}

.comp-strength li {
	margin-left: 0 !important;
}

li {
	margin-left: 20px !important;
	padding-left: 20px;
}

.all-score li {
	padding-left: 0 !important;
	text-indent: 0 !important;
	margin-left: 0 !important
}

ol {
	padding: 0 130px;
	margin: 0 0 30px 0;
	line-height: 1.6;
}

ol li {
	color: #363636;
	font-size: 16px;
	padding: 0;
	text-align: left;
	margin: 0;
	width: 100%;
	font-weight: 400;
	line-height: 26px;
	margin-top: 11px;
}

.comp-strength .sub-heading {
	font-weight: 900 !important;
}

.secondaryList ul li {
	display: block;
	margin: 0;
	float: left;
	padding: 0;
}

.secondaryList ul {
	width: 100%;
	float: left;
	padding-left: 0;
}

li p {
	padding: 0;
	font-weight: 400;
	font-size: 16px;
	width: 100%;
	text-indent: 0;
	line-height: 26px;
	margin-top: 14px;
}

.further-suggestion {
	color: #53B5E0 !important;
	display: none
}

ol li p {
	font-weight: 400;
	font-size: 16px;
}

.report-score {
	margin: 20px auto 0 auto !important;
	width: 100% !important;
	padding: 24px 0 !important;
}

.report-list-wrapepr ul li::before {
	content: '•';
	color: #FFCF05;
	font-size: 15px;
	margin-right: 10px;
}

.report-list-wrapper ui li {
	color: #363636;
	font-size: 16px;
	padding: 0;
	text-align: left;
	margin: 0;
	width: 100%;
	font-weight: 400;
	line-height: 26px;
	margin-top: 11px;
	padding-left: 20px;
	text-indent: -1.2em;
}

.report-list-wrapper {
	padding-right: 30px !important;
	padding-left: 30px !important;
}

#demandsSuggestions,
#controlSuggestions,
#supportSuggestions,
#roleSuggestions,
#relationshipSuggestions,
#changeSuggestions ul li {
	margin-top: 25px;
}

.description-title {
	padding-right: 30px !important;
	padding-left: 50px !important;
}

.report-title {
	color: #363636;
	font-size: 36px;
	padding: 0 0 27px 0;
	text-align: left !important;
	margin: 0;
	width: 100%;
	font-weight: 900
}

h1 {
	text-align: center
}

.sub-heading-message {
	font-weight: 400;
	padding: 0 28px;
	line-height: 30px;
}

.sub-heading-message-support {
	font-weight: 400;
	padding: 0 32px;
	line-height: 30px;
}

.next-steps-print .secondaryList ul li::before {
		content: '•';
		color: #FFCF05;
		font-size: 15px;
		margin-right: 10px;
	content: '•' !important;
	color: #FFCF05 !important;
	font-size: 15px !important;
	margin-right: 10px !important;
}

.bodyContainer p {
	color: #363636;
	font-size: 16px;
	padding: 0 5px;
	text-align: left;
	margin: 0;
	width: 100%;
	line-height: 34px
}

.bodyContainer {
	padding-right: 0;
	padding-left: 0;
	background: #fff;
	width: 1300px color:#363636;
	padding-bottom: 25px;
	padding-top: 25px;
	box-shadow: 3px 0px 9px 0px #F3EEEE;
}

.survey-report-title-main span {
	display: block;
}

.survey-report-title {
	font-size: 48px;
	width: 100%;
	line-height: 58px;
	-webkit-letter-spacing: 1.5px;
	-moz-letter-spacing: 1.5px;
	-ms-letter-spacing: 1.5px;
	letter-spacing: 1.5px;
	font-weight: 900;
	color: #363636;
	text-align: center;
	margin: auto
}

.titleMainContainer {
	width: 100%;
	width: 569px;
	margin: 30px auto;
	color: #363636;
	text-align: center;
	font-weight: 900;
	-webkit-letter-spacing: .9px;
	-moz-letter-spacing: .9px;
	-ms-letter-spacing: .9px;
	letter-spacing: .9px;
	word-spacing: 2px;
	font-size: 14px
}

.titleSubContainer {
	width: 100%;
	width: 569px;
	margin: 30px auto;
	color: #000;
	text-align: center;
	font-weight: 900;
	-webkit-letter-spacing: .9px;
	-moz-letter-spacing: .9px;
	-ms-letter-spacing: .9px;
	letter-spacing: .9px;
	word-spacing: 2px;
	font-size: 14px
}

.titleSubContainer .span1 {
	color: #ff5939
}

.titleSubContainer .span2 {
	color: #53b5e0
}

.introText a {
	color: #53B5E0;
	font: 400 16px Avenir;
	letter-spacing: 1px;
	word-spacing: 2px;
	margin: 0 3px 0 3px !important;
	text-align: left;
	margin: 0;
	background: transparent;
	border: 0;
	cursor: pointer;
	padding: 0;
	text-decoration: none;
}

.introText {
	font-size: 14px;
	line-height: 28px;
	color: #363636;
	font-weight: 400;
	width: 90%;
	margin: auto
}

.further-suggestion {
	color: #53B5E0 !important;
	display: none
}

.tableContainer li {
	color: #007A7A
}

.tableContainer ul li::before {
	content: none;
	font-size: 0;
	margin-right: 0;
}

.tableContainer {
	color: #007a7a;
	border-top: 2px solid #007a7a;
	border-bottom: 2px solid #007a7a;
	padding: 24px 60px;
	width: 90%;
	margin: auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between
}

.tableContainer ul {
	list-style: none;
	width: 100%;
	padding: 0;
	margin: 0
}

.tableContainer ul li {
	color: #007a7a;
	font-size: 25px;
	width: 20%;
	font-weight: 900;
	float: left;
	text-align: center
}

ol li {
	color: #363636;
	font-size: 16px;
	padding: 0;
	text-align: left;
	margin: 0;
	width: 100%;
	font-weight: 400;
	line-height: 26px;
	margin-top: 11px;
}

.tableContainer ul li span {
	display: block;
	width: 71px;
	font-size: 12px;
	font-weight: 900;
	margin: auto;
	line-height: 19px;
	margin-top: 10px
}